@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

.main-menu {
    display:flex;
    justify-content: space-between;
    align-items: center;

}
li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    padding: 1.9em .5em;
    display: inline-block;
}

.logo {
    margin-top: 1.3em;
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: #0088a9;
}

li:nth-of-type(5) {
    cursor: pointer;
}
li:nth-of-type(5):hover {
    color: #0088a9;
}
li:nth-of-type(5) {
    transition: 0.3s ease 0s;
}
