* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 100px;
    left: 210px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}


.icon {
    height: 100px;
    width: 200px;
    object-fit: contain;
}
.container {
    display: flex;
    justify-content: center;
}
.card-group {
    margin-top: 100px;
}
.card {
border: 1px solid;
}

i {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.increase-icon {
    font-size: 4rem;
}
#map {
    position: absolute;
    top: 400px;
    bottom: 0;
    left: 200px;
    width: 80%;
    height: 55%;
    border: 1px solid black;
    margin-top: 105px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

@media only screen and (max-width: 600px) {
    #map {
        width: 450px;
        height: 600px;
        position: relative;
        left: 20px;
        bottom: 200px;
        margin-top: -100px;
    }
    /*.container {*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*}*/

    .coordinates {
        position: relative;
        left: 20px;
        top: 385px;
        width: 90%;
        margin-bottom: 450px;
    }
}