* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.icon {
    height: 100px;
    width: 200px;
    object-fit: contain;
}
.container {
    display: flex;
    justify-content: center;
}
.card-group {
    margin-top: 100px;
}
.card {
border: 1px solid;
}

i {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.increase-icon {
    font-size: 4rem;
}
#map {
    position: absolute;
    top: 400px;
    bottom: 0;
    left: 200px;
    width: 80%;
    height: 55%;
    border: 1px solid black;
    margin-top: 35px;
}
